
body{
    color: white;
    font-family: monospace;
    font-size: 50px;
}
table td{
    background-color: #6d6875;
    border-spacing: 2px;
    border: 2px solid #073b4c;
}

td img{
    width: 200px;
    height: 200px;
}
td{
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
}
table{
    font-size: 20px;
    width: 80%;
    margin: 10px;
    border-bottom:10px solid #ffd166;
}

table thead tr td{
    color: white;
    padding: 10px;
    font-weight: bold;
    background-color: #023047;
}

.del,.view{
    width: 200px;
    height: 100px;
    background-color: #ef476f;
    margin-left: 2px;
    display: inline-block;
    color: white;
    text-align: center;
}
.view{
    background-color: #06d6a0;
}

